*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
body {
  background-color: #fff;
  color: #070707;
  font-size: 18px;
}
.container {
  width: 90%;
  max-width: 970px;
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: space-between;
}
#header {
  backdrop-filter: blur(4px);
  z-index: 900;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.3);
}
.main-menu > ul > li {
  position: relative;
  line-height: 80px;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  min-width: 150px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.dropdown li {
  width: 100%;
  line-height: 20px;
  position: relative;
}
.dropdown li a:hover::after {
  content: "";
  display: inline-block;
  width: 29px;
  height: 29px;
  position: absolute;
  background-color: #fff;
  border:#637df0 solid 1px;
  border-left: transparent;
  border-bottom: transparent;
  transition: all 0.2s ease;
  transform: rotate(45deg);
  right: -15px;
  top: 6px;
}
.dropdown li a:hover {
  border: #637df0 solid 1px;
}
.dropdown li a {
  padding: 10px;
  display: block;
  border: transparent solid 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #f063b8;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}
.main-menu ul li:hover .dropdown {
  display: block;
}
.main-menu ul {
  gap: 40px;
  list-style: none;
}
.main-menu > ul > li > a {
  margin: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: #f063b8;
  transition: color 0.6s ease;
}
.main-menu ul li a:hover {
  color: #637df0;
}
.logo {
  margin: 20px 20px 0px 0px;
}
.logo img {
  width: 50px;
  height: 50px;
}
h1 {
  text-align: left;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 15px;
}
main {
  padding-top: 80px;
}
section .container .image-1 {
  max-width: 100%;
  display: block;
  object-fit: contain;
}
#history {
  padding-bottom: 40px;
}
#history .container{
  border-radius: 50px;
  padding: 70px 0px;
  background-color:#fde8f5;
  gap: 100px;
}
.image img, .victory-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}
.image img {
    margin-right: 70px;
}
.info {
  margin-left: 70px;
}
.info h2{
  padding-bottom: 30px;
}
.info p {
  line-height: 28px;
}
#victory .container {
  border-radius: 50px;
  padding: 70px 0px;
  gap: 100px;
}

.section-title {
  text-align: center;
  padding: 20px;
}
.victory-info p {
  line-height: 28px;
  padding-bottom: 10px;
}
.victory-info {
  padding: 30px;
  background-color: #eaf6fc;
  border-radius: 20px;
}
#victory .container {
  align-items: center;
  padding-top: 30px;
}

#victory,
#firts {
  padding-bottom: 40px;
  background-color: #f6f6f6;
}
#footer {
  background: rgb(227, 185, 228);
  background: linear-gradient(90deg, rgba(227, 185, 228, 1) 31%, rgba(95, 220, 245, 1) 100%);
}
#footer .container {
  display: flex;
  justify-content: space-between;
}
#footer .socials {
  align-self: center;
}
#footer ul {
  list-style: none;
  gap: 30px;
}
#footer img {
  width: 150px;
  height: 150px;
  margin-bottom: 41px;
}
#footer .copy {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  padding: 10px;
}
.socials h2 {
  padding-bottom: 20px;
}
.socials ul li a svg path {
  transition: fill 0.3s ease;
}
.socials ul li a:hover svg path {
  fill: #1877F2;
}
.socials ul li a svg {
  transition: transform 0.3s ease;
}
.socials ul li a:hover svg {
  transform: scale(1.1);
}
.socials a svg circle {
  transition: stroke 0.3s ease;
}
.socials a:hover svg circle {
  stroke: #1877F2;
}
.main {
  background-color: #dbdbdb6e;
}
.news {
  display: grid;
  grid-template-columns: repeat(3, 310px);
  gap: 20px;
  padding: 0 0 40px;
}
.card {
  border-radius: 20px;
  overflow: hidden;
  background: #f6f6f6;
}
.card:hover {
  filter: drop-shadow(0px 5px 11px #7a7171);
  transition: all 0.7s ease-in-out;
}
.news_img {
  object-fit: cover;
  width: 100%;
  margin-bottom: 30px;
  height: 240px;
  display: block;
  background: url(../images/noimage.png) center / cover #487bb9;
}
.title{
  max-width: 250px;
  width: 100%;
  padding: 0 20px;
  align-items: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  height: 68px;
  text-decoration: none;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text {
  padding: 0 20px;
  font-size: 1.125rem;
  margin-bottom: 25px;
  height: 112px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card > .flex {
  padding: 0 20px;
  margin-bottom: 15px;
  align-items: center;
}

.badge {
background: #e3b9e4;
padding: 0 15px;
line-height: 25px;
border-radius: 25px;
}
.date {
  color: #675cca;
  font-size: 14px;
}
.more {
  float: right;
  padding: 0 50px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  position: relative;
  line-height: 26px;
}
.more::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 30px;
  top: -2px;
  left: 30px;
  background:#87c5d2;
  opacity: 0.3;
}

.chevron::before {
  border-style: solid;
  border-width: 2px 2px 0 0;
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  top: 6px;
  left: -12px;
  position: relative;
  vertical-align: top;
  transform: rotate(45deg);
}

.more:hover::before {
  width: 170px;
  transition: all 0.8s ease-in-out;
}

.logo {
  position: relative;
}
.ring {
  position: absolute;
  top: 27px;
  left: 26px;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background: transparent;
  border: 3px solid transparent;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: #2a7cc4;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #2a7cc4;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.ring:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #2a7cc4;
  border-right: 3px solid #2a7cc4;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

.ring > span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 70%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}

.ring > span:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #2a7cc4;
  top: 0;
  right: 6px;
  box-shadow: 0 0 5px #2a7cc4;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(405deg);
  }
}