@use "comment.scss";
@use "footer.scss";
@use "header.scss";
@use "news.scss";
@use "mobile_menu.scss";
@use "dropdown.scss";
@use "logo.scss";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #070707;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
  }
  .container {
    width: 90%;
    max-width: 970px;
    margin: 0 auto;
  }
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
main {
  padding-top: 80px;
}
.flex {
  display: flex;
  justify-content: space-between;
} 
// SECTIONS 
#victory,
#firts {
  padding-bottom: 40px;
  background-color: #f6f6f6;
}

section {
  h1 {
    text-align: left;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 15px;
  }
  &#firts .image-1 {
    max-width: 100%;
    display: block;
    object-fit: contain;
  }
  &#history {
    padding-bottom: 40px;
    .container {
      display: flex;
      gap: 100px;
      border-radius: 50px;
      padding: 70px 0px;
      background-color: #fde8f5;
    }
  }
  &#victory {
    .container {
      display: flex;
      gap: 100px;
      align-items: center;
      border-radius: 50px;
      padding: 30px 0 70px;
      .victory-info {
        padding: 30px;
        background-color: #eaf6fc;
        border-radius: 20px;
        p {
          line-height: 28px;
          padding-bottom: 10px;
        }
      }
    }
  }
  .section-title {
    text-align: center;
    padding: 20px;
  }
  .info {
    margin-left: 70px;
    h2 {
      padding-bottom: 30px;
    }
    p {
      line-height: 28px;
    }
  }
  .image img,
  .victory-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
  }
  .image img {
    margin-right: 70px;
  }
}
// 🔻 Адаптивність
@media (max-width: 992px) {
  section{  
    &#history .container,
    &#victory .container {
      gap: 20px;
    }
    .info {
      margin-left: 20px;
    }
    .image img {
      margin-right: 20px;
    }
  }
}
@media (max-width: 768px) {
  section {
    h1 {
      font-size: 32px;
      text-align: center;
    }

    &#history .container,
    &#victory .container {
      flex-direction: column;
      align-items: center;
      gap: 30px;
      padding: 30px 15px;
      border-radius: 30px;
    }
    &#history .container{
      gap: 0;
    }

    .info {
      margin-left: 0;
      padding: 0 5px;
      h2 {
        font-size: 20px;
        padding-bottom: 15px;
      }
      p {
        font-size: 16px;
        line-height: 26px;
      }
    }
    .section-title {
      font-size: 24px;
      padding: 10px;
    }
  }
  .image img,
  .victory-image img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto 20px;
  }
  .image img {
    margin-right: 0 !important;
  }
}

#main {
  padding-bottom: 20px;
}
